@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

.webicons {
  li {
    padding: 0.2rem 0.1rem;
    a {
      padding: 0;
    }
  }
}

.size-72 { font-size: 72px; }

.fi-social-facebook {color:dodgerblue;font-size:2rem;}
.fi-social-youtube{color:red;font-size:2rem;}
.fi-social-pinterest{color:darkred;font-size:2rem;}
.fi-social-instagram{color:brown;font-size:2rem;}
.fi-social-tumblr{color:navy;font-size:2rem;}
.fi-social-twitter{color:skyblue;font-size:2rem;}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 200;
  font-size: 20px;
}

.title-bar {
  z-index: 9001;
  width: 100%;
}
.top-bar {
  z-index: 9001;
  width: 100%;
}

.sticky {
  width: 100%;
  z-index: 9001;
  position:fixed;
  // fixed elements android fix:
  -webkit-backface-visibility: hidden;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

/* wrapper */

.content-container {
  background: transparent;
}

/* parallax scroller */

.parallax-background {
  background-color: #0080A0;
  height: 2000px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  @include breakpoint(small only) {
    height: 732px;
  }
  &.static {
    height: 800px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
  }
  &.parallax-2 {
    background: linear-gradient(to bottom, #a0d8ef 0%,#ddf1f9 50%,#feffff 100%) no-repeat center center fixed;
  }
  &.parallax-3 {
    background: linear-gradient(to bottom, #a0d8ef 0%,#ddf1f9 50%,#feffff 100%) no-repeat center center fixed;
  }
  &.parallax-4 {
    background: linear-gradient(to bottom, #a0d8ef 0%,#ddf1f9 50%,#feffff 100%) no-repeat center center fixed;
  }
}

.startpoint {
  font-size: 50px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 58px;
  width: 100%;
  @include breakpoint(small only) {
    font-size: 30px;
    top: 108px;
  }
}

#svg-1 {
  position: absolute;
  top: 58px;
}

.parallax-foreground {
  max-width: 100%;
  min-height: 33%;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
}

.parallax-foreground.hero {
  position: absolute;
  top: 150px;
  left: 50px;
  background: transparent;
  padding-top: 330px;
  @include breakpoint(small only) {
    top: 50px;
    left: 0;
    padding-top: 250px;
    h1 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.8rem;
    }
    h5 {
      font-size: 0.7rem;
    }
  }
}

.parallax-foreground.last {
  margin-bottom: 0;
  padding-bottom: 1.25rem;
}

.animate-view-popup {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
}

.animate-view-popup.animate-popup {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* floating animation */

@-webkit-keyframes floating {
  0% {
	-webkit-transform: translateY(0);
	transform: translateY(0)
  }
  50% {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px)
  }
  100% {
	-webkit-transform: translateY(0);
	transform: translateY(0)
  }
}

@keyframes floating {
  0% {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
  }
  50% {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px)
  }
  100% {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
  }
}

.animate-hover-floating:hover {
  -webkit-animation: floating 2s linear infinite;
  animation: floating 2s linear infinite;
  color: #0080A0;
}

.tool-badge {
  @include label;
  background-color: #a0d3e8;
  border-radius: 5px;
}

.callout {
  p {
    font-size: 0.8em;
  }
}